/*--------------------CLEAR-----------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* -----------GRID---------------------*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 1.4%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.65%;
}
.span_2_of_4 {
	width: 49.3%;
}
.span_1_of_4 {
	width: 23.95%;
}
/*  BREAK INTO TWO ROWNS*/
@media only screen and (max-width: 760px) {
	.col { 	margin: 1% 0 1% 0%; }
	.span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
	.span_1_of_4 { width: 50%; }
}

/*--------------------TEXTS------------------------*/
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	}
h1 {
	margin: 1rem 0 1rem 0;
	font-size: 2.75rem;
}
h2 {
	margin: 1rem 0 0 0;
}
h2,p,b,a,ul,span{
	font-size: 1.4rem;
}
h2,a{
	color:#0082BD;
	font-weight: 600;
}
p,ul,span {
	font-weight: 400;
}
p,ul{
	color:#000;
	text-align: justify;
}
b,h1{
	color:#0082BD;
	font-weight: 600;
}
ul{
	margin-left:5rem;
	list-style: none;
}
li:before {
	content: '\2022';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -3rem;
	top: 1px;
	color:#0082BD;
	font-size: 1.4rem;
}
.p-space{
	padding-left: 9rem;
}
/*--------------------BODY------------------------*/
body {
	background-image:url("../img/bgcut.svg"),url("../img/bg.svg");
	background-repeat:repeat-x, no-repeat;
	background-position:0% 36em, center top;
	background-size:100%;
}
.THE-margin {
	margin: auto;
	width: 64rem;
}
/*HEAD*/
#logo {
	margin: 2rem 0 2rem 0;
	height: 8em;
}
nav {
	background-color: #f4f4f4;
	width: 100%;
	height: 5rem;
}
/*-------------------MENU---------------------*/
nav ul {
	list-style: outside none none;
	float:right;
}
nav ul li {
	float: right;
}
nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 5rem;
	white-space: nowrap;
}
nav ul li:before {
	content: '';
}
nav ul li:after {
	content: '|';
	color:#0082BD;
	position: relative;
	top:-3px;
	margin: 0 0.15rem 0 0.15rem;
}
nav ul li:first-child:after { content: ""; }
/*---------------FORMS-----------------------*/

.form {
	width: 100%;
	border: 1px solid #0082BD;
	border-radius: 2rem;
	height: 2rem;
	display: inline-block;
	line-height: 5rem;
	padding: 0 1rem 0 1rem;
	margin-top: 0.5rem;
	box-sizing:border-box;
}

.login {
	width: 70%;
	line-height: 2rem;
}

.label {
display: inline-block;
color: #0082BD;
}

.submit {
	margin: 1em 0 0 5em;
}

#menu-search-submit {
	position: absolute;
	top:2.5rem;
	right: 1rem;
	-webkit-transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
	-o-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
	height: 1rem;
}
#menu-search-box {
	margin:1.4rem 0 1.5rem 0;
}
/*Content*/
#THE-title{
	margin: 2rem 0 2rem 0;
	color:#fff;
}
#THE-body {
	background-color: #fff;
	border-radius: 2rem;
	padding: 1rem;
}

/*FOOTER*/
footer {
	margin: 4rem 0 0 0;
	background-color: #00A8D8;
	width: 100%;
	height: 15rem;
}
