#job-map {
	width: 100%;
	height: 30rem;
}
p {
	margin:1rem;
}
#job-volont-list{
	margin-top: 1rem;
}
#job-list-name {
	line-height: 5rem;
	margin: 0;
}
#job-list-ico {
	border-radius: 100%;
	height: 5rem;
	float: left;
	margin: 0 2rem 0 3rem;
}
#job-edit-delete{
	color: #BA262E;
	margin-left: 4rem;
}